.btn {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
}
.both {
  width: 200px;
  height: 100px; 
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 10px;
  margin: 40px;
  outline: none;
  border: 3px solid black;
  transition: all ease 0.5s;
}
#first {
  background-color: white;
  cursor: pointer;
}
#fist:hover {
  background-color: white;
  color: white;
  border: 3px solid black;
}
#second {
  background-color: white;
  cursor: pointer;
}
#second:hover {
  background-color: white;
  color: white;
  border: 3px solid black;
}